.split-pane {
    -fx-padding: 10;
    -fx-background-color: #f5f7fa;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.button-common {
    -fx-font-size: 14px;
    -fx-font-family: 'Arial', sans-serif;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 40px;
    -fx-pref-width: 160px;
    -fx-padding: 5 10 5 10;
    -fx-graphic-text-gap: 10px;
}

.button-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 0);
}

.button-primary:hover {
    -fx-background-color: #2980b9;
}

.button-primary:pressed {
    -fx-background-color: #1c5985;
}

.button-secondary {
    -fx-background-color: #bdc3c7;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 0);
}

.button-secondary:hover {
    -fx-background-color: #95a5a6;
}

.button-secondary:pressed {
    -fx-background-color: #7f8c8d;
}

/* Line */
.line {
    -fx-stroke: #dcdcdc;
}
